.card-category {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  .plant-destroy {
    position: absolute;
    bottom: 5%;
    right: 5%;
    color: red;
    transition: transform 0.3s ease-in-out;
  }

  .plant-destroy:hover {
    transform: scale(1.1);
  }
}

.card-tags {
  position: absolute;
  bottom: 8px;
  left: 8px;
  width: 80%;
  span {
    background: $blue;
    font-size: .7em;
    padding: 2px 4px;
    border-radius: 3px;
  }
  a {
    color: white;
  }
}
